.DS_Store
*.pyc
.vscode

src/qs_qh.egg-info/
Icon?

src/fradm/__pycache__/
tokens.py
token.py
src/cobos/__pycache__/

*.json
*.err
*.log
*.aux
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.bbl
*.blg
*.run.xml
*.bib
*.qpy